html,
body,
#root {
  height: 100%;
  margin: 0;
  background: #000;
  color: #fff;
  font-family: Inter, Roboto, sans-serif;
}
* {
  box-sizing: border-box;
}

.app-wrapper {
  background-image: url("../assets/space.png");
}
